<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "utf-8" />
    <link rel = "icon" type = "image/x-icon" href = "favicon.ico" />
    <link rel = "stylesheet" type = "text/css" href = "style.css" />
    <title>
      System Stats
    </title>
  </head>

  <body>
    <div align = "center">
      <table>
        <tbody>
          <% get_plaintext_stats.each_line do |line| %>
            <tr>
              <td>
                <%= line.gsub ": ", "</td><td>" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>

